{% extends 'base.html.twig' %}


{% block body %}
    <div class="messages">
        {% for flashMessage in messages %}

            <div>{{ flashMessage }}</div>

        {% endfor %}
    </div>
    <div id="wrapper">
        <div id="container" class="container">

            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    {{ form_row(form.domain) }}

                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}

                    <button type="submit">Register!</button>
                    {{ form_end(form) }}
                </div>


            </div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
