{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {{ form_start(form) }}
            {{ form_row(form.domain) }}

            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}

            <button type="submit">Register!</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
